<section class="button-page">
  <div class="container-fluid">
    <div class="header my-5">
      <h1>{{ label }}</h1>
      <p>{{ description }}</p>
    </div>

    <hr>

    <div class="my-5">
      <div class="rounded border border-gray-300 p-4">
        <button type="button"
                class="btn btn-primary">Primary</button>
        <button type="button"
                class="btn btn-secondary ms-2">Secondary</button>
        <button type="button"
                class="btn btn-success ms-2">Success</button>
        <button type="button"
                class="btn btn-danger ms-2">Danger</button>
        <button type="button"
                class="btn btn-warning ms-2">Warning</button>
        <button type="button"
                class="btn btn-info ms-2">Info</button>
        <button type="button"
                class="btn btn-link link-green text-decoration-none ms-2">Link</button>

        <br>
        <br>

        <button type="button"
                class="btn btn-yellow">Yellow</button>
        <button type="button"
                class="btn btn-green ms-2">Green</button>
        <button type="button"
                class="btn btn-blue ms-2">Blue</button>
      </div>
    </div>

    <hr>

    <div class="my-5">
      <h2>Outline buttons</h2>
      <div class="rounded border border-gray-300 p-4">
        <button type="button"
                class="btn btn-outline-primary">Primary</button>
        <button type="button"
                class="btn btn-outline-secondary ms-2">Secondary</button>
        <button type="button"
                class="btn btn-outline-success ms-2">Success</button>
        <button type="button"
                class="btn btn-outline-danger ms-2">Danger</button>
        <button type="button"
                class="btn btn-outline-warning ms-2">Warning</button>
        <button type="button"
                class="btn btn-outline-info ms-2">Info</button>

        <br>
        <br>

        <button type="button"
                class="btn btn-outline-yellow">Yellow</button>
        <button type="button"
                class="btn btn-outline-green ms-2">Green</button>
        <button type="button"
                class="btn btn-outline-blue ms-2">Blue</button>
      </div>
    </div>

    <hr>

    <div class="my-5">
      <h2>Sizes</h2>
      <div class="rounded border border-gray-300 p-4">
        <button type="button"
                class="btn btn-lg btn-green">Green</button>
        <button type="button"
                class="btn btn-green ms-2">Green</button>
        <button type="button"
                class="btn btn-sm btn-green ms-2">Green</button>
      </div>
    </div>
  </div>
</section>
