<section class="radio-page">
  <app-header-page [label]="label"
                   [description]="description"></app-header-page>

  <div class="main-page">
    <div class="container">
      <div class="my-5">
        <div class="border border-gray-300 rounded-top p-4">
          <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   name="flexRadioDefault"
                   value="Indonesia">
            <label class="form-check-label">
              Indonesia
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   name="flexRadioDefault"
                   value="Inggris"
                   checked>
            <label class="form-check-label">
              Inggris
            </label>
          </div>
        </div>
        <textarea highlight-js
                  [lang]="'html'">
        {{ codeRadio }}
      </textarea>
      </div>

      <hr>

      <div class="my-5">
        <h2 class="mb-3">Disabled</h2>
        <div class="border border-gray-300 rounded-top p-4">
          <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   name="flexRadioDisabled"
                   value="Indonesia"
                   disabled>
            <label class="form-check-label">
              Indonesia
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   name="flexRadioDisabled"
                   value="Inggris"
                   checked
                   disabled>
            <label class="form-check-label">
              Inggris
            </label>
          </div>
        </div>
        <textarea highlight-js
                  [lang]="'html'">
        {{ codeDisabled }}
      </textarea>
      </div>
    </div>
  </div>
</section>
