<section class="components-page">
  <app-header-page [label]="label"
                   [description]="description"></app-header-page>

  <div class="main-page">
    <div class="container">
      <div class="my-4">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div *ngFor="let item of menu"
               class="col">
            <div class="card h-100">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ item.name | translate }}</h5>
                <p class="card-text text-truncate-4-row">
                  {{ 'seo.' + item.name + '-page.description' | translate }}
                </p>
                <a class="link-green mt-auto"
                   [routerLink]="[item.link | localize]">More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
