<section class="textfield-page">
  <app-header-page [label]="label"
                   [description]="description"></app-header-page>

  <div class="container-fluid">
    <div class="my-5">
      <div class="border border-gray-300 rounded-top p-4">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="email"
                 class="form-control"
                 placeholder="Placeholder Name">
        </div>
        <div class="mb-0">
          <label class="form-label">Description</label>
          <textarea class="form-control"
                    rows="3"
                    placeholder="Placeholder Description"></textarea>
        </div>
      </div>
      <textarea highlight-js
                [lang]="'html'">
        {{ codeTextfield }}
      </textarea>
    </div>

    <hr>

    <div class="my-5">
      <h2 class="mb-3">Sizing</h2>
      <div class="border border-gray-300 rounded-top p-4">
        <div class="mb-3">
          <input class="form-control form-control-lg"
                 type="text"
                 placeholder=".form-control-lg">
        </div>
        <div class="mb-3">
          <input class="form-control"
                 type="text"
                 placeholder="Default input">
        </div>
        <div class="mb-0">
          <input class="form-control form-control-sm"
                 type="text"
                 placeholder=".form-control-sm">
        </div>
      </div>
      <textarea highlight-js
                [lang]="'html'">
        {{ codeSize }}
      </textarea>
    </div>

    <hr>

    <div class="my-5">
      <h2 class="mb-3">Disabled</h2>
      <div class="border border-gray-300 rounded-top p-4">
        <div class="mb-3">
          <input class="form-control"
                 type="text"
                 placeholder="Disabled input"
                 disabled>
        </div>
        <div class="mb-0">
          <input class="form-control"
                 type="text"
                 placeholder="Disabled readonly input"
                 disabled
                 readonly>
        </div>
      </div>
      <textarea highlight-js
                [lang]="'html'">
        {{ codeDisabled }}
      </textarea>
    </div>

    <hr>

    <div class="my-5">
      <h2 class="mb-3">Readonly</h2>
      <div class="border border-gray-300 rounded-top p-4">
        <input class="form-control"
               type="text"
               placeholder="Readonly input here..."
               readonly>
      </div>
      <textarea highlight-js
                [lang]="'html'">
        {{ codeReadonly }}
      </textarea>
    </div>

    <hr>

    <div class="my-5">
      <h2 class="mb-3">Input group</h2>
      <div class="border border-gray-300 rounded-top p-4">
        <div class="input-group mb-3">
          <span class="input-group-text">@</span>
          <input type="text"
                 class="form-control"
                 placeholder="Username">
        </div>
      </div>
      <textarea highlight-js
                [lang]="'html'">
        {{ codeGroup }}
      </textarea>
    </div>

    <div class="my-5">
      <h4 class="mb-3">Search</h4>
      <div class="border border-gray-300 rounded-top p-4">
        <div class="input-group input-search left mb-3">
          <span class="input-group-text">
            <i class="fas fa-search"></i>
          </span>
          <input class="form-control"
                 type="text"
                 placeholder="Cari" />
        </div>

        <div class="input-group input-search right mb-3">
          <input class="form-control"
                 type="text"
                 placeholder="Cari" />
          <span class="input-group-text">
            <i class="fas fa-search"></i>
          </span>
        </div>

        <div class="input-group input-search-button right">
          <input class="form-control"
                 type="text"
                 placeholder="Cari" />
          <button class="btn btn-green"
                  type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
      <textarea highlight-js
                [lang]="'html'">
        {{ codeGroupSearch }}
      </textarea>
    </div>
  </div>
</section>
