app-comp-chart-doughnut {
  position: relative;
  height: 400px;

  .loading-container {
    width: 100%;
    height: 350px;

    .skeleton {
      height: 100%;
    }
  }

  .chart-doughnut {
    height: inherit;
    width: inherit;
    position: relative;

    svg {
      position: absolute;
      left: 0;
      top: 0;
    }

    .doughnut {
      transition: .3s ease-in-out;
    }

    .doughnut:hover {
      transform: scale(1.05);
    }

    .chart-label {
      font-family: Arial, sans-serif;
      font-weight: 600;
      font-size: 10px;
      stroke-width: .2px;
      stroke: white;
      color: black;
    }
  }
}
